* {
    padding: 0px;
    margin: 0px;
}

.contenedor {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: 40px;
    justify-content: center;
    align-items: center;
}


.cuadro {
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px; 
    background-color: black;
}

.cuadro div {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 80px;
}

.cuadro div:hover {
    background-color: rgba(218, 218, 218, 1);
    cursor: pointer;
}

h2 {
    text-align: center;
}

#turnoX {
    padding: 20px 10px;
    background-color: black;
    color: white;
    font-size: 25px;
    outline: none;
    border: 0px;
    border-radius: 0px;
    width: 250px;
    margin-top: 25px;
    margin-bottom: 25px;
    font-weight: bold;
    cursor: none;
}

#turnoO {
    padding: 20px 10px;
    background-color: black;
    color: white;
    font-size: 25px;
    outline: none;
    border: 0px;
    border-radius: 0px;
    width: 250px;
    margin-top: 25px;
    margin-bottom: 25px;
    font-weight: bold;
    cursor: none;
}
button {
    padding: 20px 10px;
    background-color: black;
    color: white;
    font-size: 25px;
    outline: none;
    border: 0px;
    border-radius: 8px;
    width: 250px;
    margin-top: 25px;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.817);
}

.lineContainer {
    position: relative;
}

#linea {
    position: absolute;
    display: block;
    background-color: green;
}

.lineHorizontal {
    position: absolute;
    display: block;
    height: 10px;
    background-color: red;
    width: 100%;
    top: 85px;
    left: 0px;
}

.lineVertical {
    position: absolute;
    display: block;
    height: 100%;
    background-color: red;
    width: 10px;
    top: 0px;
    left: 0px;
}
